/* font-family: abel */
@font-face {
    font-family: Abel;
    src: url(https://fonts.google.com/specimen/Abel?query=abel);
}
/* font-family: josefin */
@font-face {
    font-family: Josefin_Sans;
    src: url(https://fonts.google.com/specimen/Josefin+Sans?query=josefin);
}
/* font-family: lilita */
@font-face {
    font-family: Lilita_One;
    src: url(https://fonts.google.com/specimen/Lilita+One?query=lilita);
}
/* font-family: guerilla */
@font-face {
    font-family: Protest_Guerilla;
    src: url(https://fonts.google.com/specimen/Protest+Guerrilla?query=protest+);
}
/* font-family: sansita */
@font-face {
    font-family: Sansita;
    src: url(https://fonts.google.com/specimen/Sansita?query=sansita);
}
